<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.follow.irani">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application

        android:name="com.follow.irani.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.follow.irani.Activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="com.follow.irani.Activities.SplashActivity"
            android:label="فالوئر بگیر"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenStyle"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <meta-data
                android:name="cheshmakPush"
                android:value="openActivityOnPush" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.follow.irani.Activities.ActivityLoginWebview" />
        <activity
            android:name="ir.tapsell.sdk.TapsellAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity android:name="com.follow.irani.Activities.NetworkErrorActivity" />

        <receiver android:name="com.follow.irani.Interface.ValueUpdaterBroadCast">
            <intent-filter>
                <action android:name="com.journaldev.broadcastreceiver.Update" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c3a46b2f2b01b95cfbcd785cd749a42c35d9af8c" />

        <meta-data android:name="co.ronash.pushe.token" android:value="PUSHE_744024323840"/>

        <service android:name="com.follow.irani.CheckUnFollowService" />
        <service
            android:name="me.cheshmak.android.sdk.core.push.CheshmakFirebaseMessagingService"
            tools:node="remove" />

    </application>

</manifest>